#logo{
    width: 30%;
    margin-left: 33%;
}

#nav{
    text-align: center;
    background-color: #fefbf1;
    padding: 8px;
    margin-top: 15px;
    border-top: 1px solid #ffd977;
    height: 40px;
}

#nav p{
    font-size: 20px;
    color: rgb(8 120 120);
    margin: 6px;
    
}

#nav p span{
    font-weight: 900;
} 

main {
    width: 50%;
    text-align: left;
    margin: auto;
}

#titolo{
    text-align: center;
    margin-top: 60px;
}

#focaccia{
    width: 100%;
    height: 600px;
    border-radius: 10px;
    object-fit: cover;
}

h5{
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 8px;
}

#featured{
    display: block;
    color: #b5460f;
}

#indirizzo{
    color: #177;
}

.sezione{
    border-left: 1px solid #ffd977;
    padding-left: 20px;
    margin-top: 20px;
}

div h2{
    border-bottom: 1px solid rgb(197, 243, 243);
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-weight: 300;
}

.makefocaccia{
    font-weight: 600;
}

footer{
    margin: auto;
    text-align: left;
    width: 50%;
}

footer a{
    color: #177
 }


